.navbar {
  background-color: var(--mer-moyenne);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2vw;
  padding-left: 0.5vw;
  height: 80px;
  font-size: 1.45rem;
}

.navbar>a:first-of-type {
  height: 50px;
}

#vague {
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

#vague:hover {
  transform: scale(1.05);
  border-radius: 8px;
}

#vague:active {
  transform: scale(0.9);
  opacity: 0.8;
}

.item {
  display: block;
  height: 2.75vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 15px var(--mer-claire);
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 0.5vw 1vw;
}

/* Préparation d'éléments transparents qui apparaîtront au survol */
.item:before,
.item:after {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.3s ease;
}

/* Bout de cadre en haut à gauche */
.item:after {
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

/* Bout de cadre en bas à droite */
.item:before {
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

/* Afficher un début de cadre au survol */
.item:hover::before,
.item:hover::after {
  width: 10px;
  height: 10px;
  border-color: var(--ecume);
}

/* Réaction au clic */
.item:active {
  color: var(--ecume);
  background-color: var(--mer-claire);
}

.burgerIcon {
  display: none;
  /* Caché par défaut */
  cursor: pointer;
}

.burgerIcon svg {
  color: var(--ecume);
  font-size: 3.4rem;
}

.menuItems {
  display: flex;
  width: 85.5vw;
  justify-content: space-between;
}

.menuItems.open {
  display: block;
}

@media (max-width: 1001px) {
  .navbar {
    font-size: 1.2rem;
  }
}

@media (max-width: 840px) {
  .menuItems {
    font-size: 1.1rem;
  }
}

@media (max-width: 780px) {
  #vague {
    margin-top: 4px;
    width: 40px;
    height: 40px;
  }

  .menuItems {
    font-size: 1rem;
  }
}

@media (max-width: 770px) {
  .menuItems {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 10px;
    width: 175px;
    line-height: 1rem;
  }

  .burgerIcon {
    display: flex;
    /* Affiche l'icône du burger sur mobile */
  }

  .navbar {
    position: relative;
    height: 60px;
  }

  .menuItems.open {
    display: flex;
    /* Affiche le menu burger lorsqu'il est ouvert */
    background-color: var(--mer-sombre);
    z-index: 3;
  }

  #vague {
    margin-top: 2.5px;
    border-radius: 4px;
    width: 45px;
    height: 45px;
  }

  .item {
    height: 17px;
    padding: 5px;
  }
}