.card {
  background-color: var(--ecume);
  border-radius: 8px;
  width: 345px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 4px 4px 10px 0px rgba(12, 10, 8, 0.25);
}

.imgCard {
  border-radius: 8px;
  width: 315px;
  height: 315px;
  margin: 15px;
  object-fit: cover;
}

.cardInfos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.cardInfos>h3 {
  margin: 0 15px 6px 15px;
  font-family: "Tenor sans", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}

.cardInfos>p {
  margin: 0;
  font-size: 1.3rem;
  text-align: center;
}