.carrousel {
  position: relative;
  width: 98.5vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 95vw;
  margin: 1vw;
}

.image {
  width: auto;
  max-width: 100%;
  max-height: 95vh;
}

.arrow {
  background: none;
  color: var(--goemon);
  /* Couleur de la flèche */
  border: none;
  /* Pas de fond */
  font-size: 5.5rem;
  /* Taille des flèches */
  cursor: pointer;
  outline: none;
  /* Supprimer le contour par défaut */
  z-index: 1;
  /* S'assurer que les flèches sont au-dessus des images */
}

.arrow:hover {
  color: var(--mer-claire);
  /* Changer la couleur au survol */
}

@media (max-width: 768px) {
  .carrousel {
    width: 97vw;
  }

  .arrow {
    font-size: 3.5rem;
  }
}

@media (max-width: 480px) {
  .carrousel {
    width: 95vw;
  }

  .arrow {
    font-size: 2.5rem;
  }
}