.devis {
  text-align: center;
  width: 94vw;
  margin: 0 2.5vw;
}

.form {
  display: flex;
  flex-direction: column;
}

.devis input {
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: var(--goemon);
  font-family: "Tenor Sans", sans-serif;
  font-size: 1.5rem;
  margin: 1.35vw;
}

.devis input:focus {
  outline: 3px solid var(--mer-claire);
}

.contact>input {
  width: 40.5vw;
  margin: 1.35vw;
}

.object,
.message {
  width: 100%;
}

.object>input {
  width: 85.5vw;
}

.message>textarea {
  border: none;
  border-radius: 8px;
  color: var(--goemon);
  font-family: "Tenor Sans", sans-serif;
  font-size: 1.5rem;
  margin: 1.35vw;
  padding: 12px;
  width: 85.5vw;
  height: 12vw;
  resize: none;
}

.message>textarea:focus {
  outline: 3px solid var(--mer-claire);
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 1.2vw;
  gap: 4.25vw;
}

#join,
#button {
  border-radius: 8px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1.5rem;
  padding: 0.8rem;
  width: 20vw;
  transition: 0.3s;
}

#join {
  border: 3px solid var(--mer-claire);
}

#button {
  border: none;
  background-color: var(--mer-claire);
}

#join:hover {
  background-color: var(--mer-claire);
  border: 3px solid var(--mer-sombre);
}

#button:hover {
  background-color: var(--mer-sombre);
  color: var(--ecume);
}

#join:active,
#button:active {
  transform: scale(1.05);
}

@media (max-width: 1175px) {

  #join,
  #button {
    font-size: 1.3rem;
  }
}

@media (max-width: 1040px) {

  #join,
  #button {
    font-size: 1.1rem;
  }
}

@media (max-width: 903px) {

  #join,
  #button {
    font-size: 1rem;
  }
}

@media (max-width: 835px) {
  .devis {
    margin-left: 2vw;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact>input {
    width: 85vw;
    margin: 1.35vw;
  }

  .message>textarea {
    height: 160px;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
    gap: 2.8vw;
  }

  #join,
  #button {
    width: 250px;
    font-size: 1.5rem;
  }

  #button {
    padding: 15px;
  }
}

@media (max-width: 675px) {
  .devis {
    margin-left: 1.5vw;
  }
}

@media (max-width: 485px) {
  .devis {
    margin-left: 1vw;
  }
}

@media (max-width: 370px) {
  .devis {
    margin: 0;
  }

  .object>input,
  .message>textarea {
    width: 85vw;
  }
}

@media (max-width: 300px) {
  .devis {
    margin: 0;
    padding-left: 1px;
  }

  .contact {
    gap: 3vw;
    margin: 1.5vw;
  }

  .object>input,
  .message>textarea {
    margin: 3vw 0;
  }

}