.footer {
  background-color: var(--mer-sombre);
  color: var(--ecume);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.large {
  color: var(--ecume);
}

.small {
  display: none;
}

#ob {
  width: 16px;
  height: 16px;
}

a {
  margin: 5px;
  text-decoration: none;
  color: var(--ecume);
}

@media (max-width: 694px) {
  .large {
    display: none;
  }

  .small {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 0.6rem;
  }

  .small>p {
    color: var(--ecume);
    font-size: 1rem;
  }

  #ob {
    transform: translateY(3px);
  }
}

@media (max-width: 354px) {
  .footer {
    height: 95px;
  }

  .footer a:first-of-type {
    transform: translateY(-8px);
  }

  .footer a>svg {
    transform: translateY(-8px);
  }

  #ob {
    transform: translate(-25px, 17px);
  }
}