.footer {
  background-color: var(--mer-sombre);
  color: var(--ecume);
  height: 5.56vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

#ob {
  width: 16px;
  height: 16px;
}

a {
  margin: 5px;
  text-decoration: none;
  color: var(--ecume);
}