.App {
  text-align: left;
}

h1 {
  font-family: "Charmonman", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  line-height: 4.5rem;
  text-align: center;
}

h2 {
  font-family: "Chelsea Market", "Verdana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.75rem;
  padding-left: 7vw;
  margin-top: 5.56vw;
}

p {
  font-family: "Tenor Sans", sans-serif;
  color: var(--goemon);
  font-size: 1.45rem;
  margin: 0.9vw 0;
}

.devis {
  margin-bottom: 5vw;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-detail {
  width: 48.61vw;
  align-self: center;
  margin: 5vw 0 4.5vw;
}

.text-detail>h2,
.how>h2 {
  padding-left: 0;
  margin: 0;
}

.how {
  width: 48.61vw;
  align-self: center;
  margin: 5vw 0 0.6vw;
}

.button {
  font-family: "Tenor Sans", sans-serif;
  color: var(--ecume);
  font-size: 1.45rem;
  align-self: center;
  background: var(--mer-moyenne);
  border: none;
  border-radius: 8px;
  width: 320px;
  height: 56px;
  transition: 0.3s;
}

.button:hover {
  background: var(--mer-claire);
  color: var(--goemon);
}

.button:active {
  transform: scale(1.05);
}

.part-top,
.part-bottom {
  display: flex;
  justify-content: space-around;
}

.part-top>img {
  width: 22vw;
}

.part-bottom>img {
  width: 37vw;
  height: 37vw;
  margin-top: 6vw;
}

.etapes {
  padding-top: 2.75vw;
}

.opus-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vw;
  margin: 0.6vw;
}

.opus-part {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

#chabaud {
  max-width: 30vw;
  height: auto;
}

#alain {
  max-width: 55vw;
  height: auto;
}

#botton {
  max-width: 55vw;
  height: auto;
}

#jc {
  max-width: 30vw;
  height: auto;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-content>h2 {
  padding: 0;
}

#frames {
  width: 39.5vw;
  margin: 0.67vw 0 5.4vw;
}

#face {
  width: 22.3vw;
  border-radius: 8px;
  margin: 2vw 0 6.7vw;
}

.card-container {
  display: flex;
  justify-content: space-around;
}

#skills {
  margin-top: 4vw;
}

#atelier {
  margin-top: 0;
}

.opus-img {
  width: 90vw;
  margin: 0 auto;
}

.img-strip {
  display: flex;
  justify-content: space-between;
  height: 32.25vw;
}

.img-strip>img {
  width: 21vw;
  object-fit: cover;
  border-radius: 8px;
}

.opus-img>img {
  border-radius: 8px;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin-top: 2vw;
}

.exhibitions {
  margin: 0 auto;
}

.exhibitions>h2 {
  margin-bottom: 2.5vw;
  padding: 0;
  text-align: center;
}

.expos {
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

.column1,
.column2 {
  width: 43.5vw;
}

.column1>.text-detail,
.column2>.text-detail {
  margin-top: 3vw;
  margin-bottom: 2vw;
  width: 100%;
}

.column1>.text-detail>h2,
.column2>.text-detail>h2 {
  margin-bottom: 3.75vw;
}

.presse>img {
  width: 43vw;
}

.legal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.5vw;
}

.mentions,
.edition {
  width: 80vw;
}

.legal-content h2 {
  padding: 0;
}

#vigueur {
  margin: -1.5vw 0 3.5vw;
}

.edition>h2 {
  margin-top: 3vw;
  margin-bottom: 0;
}

.alinea {
  margin-top: 3.5vw;
}

.edition li {
  font-size: 1.45rem;
}