/* Colors */
:root {
  --mer-sombre: #003951;
  --mer-moyenne: #22627F;
  --mer-claire: #50A399;
  --ecume: #F6F7EE;
  --sable: #F6D9AF;
  --goemon: #0C0A08;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}