.hero {
  position: relative;
  height: 23.6vw;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  z-index: 1;
  /* Petit, pour s'assurer qu'elle reste sous la div tide */
  background-color: var(--ecume);
  width: 53.2vw;
  height: 14.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title>h1 {
  max-width: 700px;
  text-align: center;
}

.tide {
  position: absolute;
  top: 4.35vw;
  right: 0;
  z-index: 2;
  /* Plus grand, pour s'assurer qu'elle est au-dessus de la div title */
  height: 11.11vw;
  width: 10.11vw;
  font-size: 1.5rem;
  text-align: left;
  margin: 0;
  padding-left: 1.5vw;
  background-color: rgba(246, 247, 238, 0.5);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tide>p {
  margin: 0;
}

.hour {
  height: 2.6vw;
  width: 8.33vw;
  background-color: var(--ecume);
  border-radius: 8px;
  text-align: center;
  padding-top: 0.45vw;
}

@media (max-width: 1150px) {
  .title>h1 {
    max-width: 45vw;
    font-size: 2.3rem;
    line-height: 3.3rem;
  }

  .tide {
    font-size: 1.2rem;
  }

  .tide>p {
    font-size: 1.2rem;
  }
}

@media (max-width: 1020px) {
  .title>h1 {
    font-size: 2rem;
    line-height: 2.9rem;
    ;
  }

  .tide {
    font-size: 1.1rem;
  }

  .tide>p {
    font-size: 1.1rem;
  }
}

@media (max-width: 885px) {
  .title>h1 {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .tide {
    font-size: 1rem;
  }

  .tide>p {
    font-size: 1rem;
  }
}

@media (max-width: 795px) {
  .title>h1 {
    font-size: 1.6rem;
  }

  .tide {
    font-size: 0.9rem;
  }

  .tide>p {
    font-size: 0.9rem;
  }
}

@media (max-width: 707px) {
  .title>h1 {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }

  .tide {
    display: none;
  }
}

@media (max-width: 620px) {
  .title>h1 {
    max-width: 37.5vw;
  }
}

@media (max-width: 578px) {
  .title>h1 {
    max-width: 41.5vw;
  }
}

@media (max-width: 521px) {
  .title>h1 {
    max-width: 46vw;
  }
}

@media (max-width: 471px) {
  .title>h1 {
    max-width: 51vw;
  }
}

@media (max-width: 424px) {
  .title {
    width: 70vw;
    border-radius: 8px;
  }

  .title>h1 {
    max-width: 57vw;
  }
}

@media (max-width: 380px) {
  .title {
    width: 75vw;
  }

  .title>h1 {
    max-width: 63.5vw;
  }
}

@media (max-width: 340px) {
  .title {
    width: 80vw;
  }

  .title>h1 {
    max-width: 71vw;
  }
}

@media (max-width: 300px) {
  .title {
    width: 86vw;
  }

  .title>h1 {
    max-width: 80.5vw;
  }
}